<main class="wrap" *ngIf="project() as p; else notFound">

  <!-- BACK -->
  <a class="back" routerLink="/projects">← Back to projects</a>

  <!--  HEADER -->
  <header class="header">
    <div>
      <h1>{{ p.name }}</h1>
      <p class="tagline">{{ p.tagline }}</p>
    </div>

    <div class="actions">
      <a
        class="btn"
        *ngIf="p.links?.repo"
        [href]="p.links?.repo"
        target="_blank"
        rel="noreferrer"
      >
        View on GitHub
      </a>

      <a
        class="btn ghost"
        *ngIf="p.links?.live"
        [href]="p.links?.live"
        target="_blank"
        rel="noreferrer"
      >
        Live
      </a>
    </div>
  </header>

  <!-- HERO -->
  <div class="hero-wrapper" *ngIf="p.image">
    <img
      [src]="p.image"
      [alt]="p.name"
      class="hero-image"
    />
  </div>

  <!-- GALERÍA -->
  <div class="gallery" *ngIf="p.screens?.length">
    <img
      *ngFor="let img of p.screens"
      [src]="img"
      alt="screenshot"
    />
  </div>

  <!-- BLOQUES PRINCIPALES -->
  <section class="grid">

    <!-- Overview -->
    <article class="card">
      <h3>Project overview</h3>
      <p class="overview-text">{{ p.description }}</p>
    </article>

    <!-- Tech -->
    <article class="card">
      <h3>Tech stack</h3>
      <ul>
        <li *ngFor="let tech of p.stack">{{ tech }}</li>
      </ul>
    </article>

    <!-- Features -->
    <article class="card">
      <h3>Key features</h3>
      <ul>
        <li *ngFor="let h of p.highlights">{{ h }}</li>
      </ul>
    </article>

    <!-- Case Study -->
<article class="card case-study" *ngIf="p.problem || p.solution || p.technicalDecisions?.length">
  <h3>Case study</h3>

  <div class="case-block" *ngIf="p.problem">
    <strong>Problem</strong>
    <p>{{ p.problem }}</p>
  </div>

  <div class="case-block" *ngIf="p.solution">
    <strong>Solution</strong>
    <p>{{ p.solution }}</p>
  </div>

  <div class="case-block" *ngIf="p.technicalDecisions?.length">
    <strong>Technical decisions</strong>
    <ul>
      <li *ngFor="let item of p.technicalDecisions">
        {{ item }}
      </li>
    </ul>
  </div>
</article>

  </section>

</main>

<!--  NOT FOUND -->
<ng-template #notFound>
  <p>Project not found</p>
</ng-template>